

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src="" class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name"> </div>
                <div class="profile-usertitle-job" style="font-size:10px;"> </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
        </div>
        <hr />
        <!-- END PORTLET MAIN -->
       <ul class="page-sidebar-menu " id="menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item start" id="employee-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Karyawan</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="reg-employee-menu">
                            <a href="/employee/register" class="nav-link ">
                                <span class="title font-dark">Registrasi Karyawan Baru</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item " id="data-employee-menu">
                            <a href="/employee/all" class="nav-link ">
                                <span class="title font-dark">Ubah Data Karyawan</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="absent-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Absensi Karyawan</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="absent-live-menu">
                            <a href="/absent/live" class="nav-link ">
                                <span class="title font-dark">Live Monitoring</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="absent-log-mobile-menu">
                            <a href="/absent/log" class="nav-link ">
                                <span class="title font-dark">Absensi Mobile Log</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="verify-update-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Verifikasi Perubahan Data</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="verify-update-request-menu">
                            <a href="/update/request" class="nav-link ">
                                <span class="title font-dark">Verifikasi Submit</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="verify-update-draft-menu">
                            <a href="/update/draft" class="nav-link ">
                                <span class="title font-dark">Verifikasi Draft</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="verify-update-completed-menu">
                            <a href="/update/completed" class="nav-link ">
                                <span class="title font-dark">Verifikasi Selesai</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="slip-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Permintaan Slip Gaji</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="slip-request-menu">
                            <a href="/slip/request" class="nav-link ">
                                <span class="title font-dark">Permintaan Slip Gaji</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="slip-printed-menu">
                            <a href="/slip/printed" class="nav-link ">
                                <span class="title font-dark">Pengambilan Slip Gaji</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="movement-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Movement</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="movement-employee-menu">
                            <a href="/employee/movement/all" class="nav-link ">
                                <span class="title font-dark">Movement</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="clearence-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Clearence</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="clearence-request-menu">
                            <a href="/clearence/request" class="nav-link ">
                                <span class="title font-dark">Daftar Pengajuan Resign</span>
                            </a>
                        </li>
                        <li class="nav-item" id="clearence-approved-menu">
                            <a href="/clearence/approved" class="nav-link ">
                                <span class="title font-dark">Daftar Persetujuan Clearence</span>
                            </a>
                        </li>
                        <li class="nav-item " id="li22">
                            <a href="~/employee/clearence/status" class="nav-link ">
                                <span class="title font-dark">Daftar Clearence Status</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="li3">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Ekses Klaim</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="li31">
                            <a href="/claims/hospital" class="nav-link ">
                                <span class="title font-dark">Daftar Rumah Sakit</span>
                            </a>
                        </li>
                        <li class="nav-item " id="li32">
                            <a href="/claims/list" class="nav-link ">
                                <span class="title font-dark">Daftar Ekses Klaim</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="permission-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Permission</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="user-permission-menu">
                            <a href="/permission/all" class="nav-link ">
                                <span class="title font-dark">User Permission</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="data-master-menu">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Data Master</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="master-education-menu">
                            <a href="/master/education" class="nav-link">
                                <span class="title font-dark">Master Jenjang Pendidikan</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-employee-status-menu">
                            <a href="/master/empstatus" class="nav-link ">
                                <span class="title font-dark">Master Status Karyawan</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-ethnic-menu">
                            <a href="/master/ethnic" class="nav-link ">
                                <span class="title font-dark">Master Suku</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-family-relation-menu">
                            <a href="/master/familyrelation" class="nav-link ">
                                <span class="title font-dark">Master Status Keluarga</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-functional-level-menu">
                            <a href="/master/functional" class="nav-link ">
                                <span class="title font-dark">Master Level Fungsional</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-structure-level-menu">
                            <a href="/master/structure" class="nav-link ">
                                <span class="title font-dark">Master Level Struktural</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-job-title-menu">
                            <a href="/master/jobtitle" class="nav-link ">
                                <span class="title font-dark">Master Jabatan</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-location-menu">
                            <a href="/master/location" class="nav-link ">
                                <span class="title font-dark">Master Lokasi</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-structure-organization-menu">
                            <a href="/master/organization" class="nav-link ">
                                <span class="title font-dark">Master Struktur Organisasi</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-clearence-item-menu">
                            <a href="/master/clearenceitem" class="nav-link ">
                                <span class="title font-dark">Master Clearence Item</span>
                            </a>
                        </li>
                        <li class="nav-item" id="master-clearence-pic-menu">
                            <a href="/master/clearencepic" class="nav-link ">
                                <span class="title font-dark">Master Clearence PIC </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="upload">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">Upload Data Karyawan</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="upload-employee-menu">
                            <a href="/upload/employee" class="nav-link ">
                                <span class="title font-dark">Upload Data Karyawan</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="upload-family-menu">
                            <a href="/upload/family" class="nav-link ">
                                <span class="title font-dark">Upload Data Keluarga</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="upload-education-menu">
                            <a href="/employee/movement/all" class="nav-link ">
                                <span class="title font-dark">Upload Data Pendidikan</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="upload-jobs-menu">
                            <a href="/employee/movement/all" class="nav-link ">
                                <span class="title font-dark">Upload Data Pengalaman Kerja</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="upload-struktur-menu">
                            <a href="/employee/movement/all" class="nav-link ">
                                <span class="title font-dark">Upload Data Struktur</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item" id="upload-insurance-menu">
                            <a href="/employee/movement/all" class="nav-link ">
                                <span class="title font-dark">Upload Data Asuransi</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start" id="li5">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title font-dark">History</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="li41">
                            <a href="~/history/absent" class="nav-link ">
                                <span class="title">History Absensi Karyawan</span>
                            </a>
                        </li>
                        <li class="nav-item" id="history-movement">
                            <a href="/history/movement/all" class="nav-link ">
                                <span class="title">History Perubahan Struktur</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
